<!DOCTYPE html>
<html>
    <head>
        <title>
            HOME page
        </title>
    </head> 
    <body>
               <h1>Home page</h1>  
               <h3> <%= 4335+2344 %></h3>
               <h4> <%= "sudesh ingole".toUpperCase() %></h4>          <!-- We can emmbed the js expression in the  html tag-->
               <h4><%= ["hello","world","apnacolg"][0].toUpperCase() %></h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio enim maxime dolorum earum ipsum alias aperiam est. Aut quod beatae nihil, fugit vitae nam earum dolorem sint atque deserunt totam!</p>
               <button>click me!</button>
    </body>
</html>