<!DOCTYPE html>
<html>
    <head>
        <title>
            Roll Dice
        </title>
    </head> 
    <body>
        <h1>Dice give value
            <%= diceval %>
        </h1> 
        <% if(diceval==6) { %>
            <h1> Nice!! You got <%= diceval %> Roll the dice again </h1>
        <% } %>
    </body>
</html>
 


