*{
    margin: 0;
    padding: 0;
    text-align: center;
} 
h1{
    background-color: #082d58; 
    color: #ffff ;
    height: 5rem;
    line-height: 5rem;
    font-weight: bolder;
}
.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
img{
    height: 150px;
    width: 150px;
    object-fit: cover; 
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 3rem;
    margin-top: 3rem;
}
.choice:hover{
    background-color: black;
    cursor: pointer;
    opacity: 0.7;
} 
.scoreboard{
    display: flex; 
    margin-top: 3rem;
    justify-content: center;
    align-items: center; 
    font-size: 2rem; 
    gap: 5rem;
} 
#user-score, 
#comp-score{
    font-size: 4rem;
}
.msg{
    margin-top: 4rem;
}
.msg1{  
        background-color:rgb(12, 69, 50);
        color:#ffff;
        font-size: 2rem;
        display: inline;
        padding: 1rem;
        border-radius: 1rem;
} 
