#tutorial {
    background-color: aqua;
} 
.div{
    background-color: bisque;
} 
.HW1{
    height: 50px;
    background-color: pink; 
    margin: 10px; 
    border: 1px solid black; 
    text-align: center;
}